html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background: #202020;
	color: #dfdfdf;
}
body {
	display: flex;
	overflow: hidden;
}
.centered {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.project {
	background: #303030;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 3px 3px 7px #000000;
	width: 480px;
	height: 360px;
}
.sidebar-left {
	width: 250px;
	height: 100%;
	position: relative;
	background: #181818;
	box-shadow: 1px 0 7px #000000;
	z-index: 1;
}
.panel {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	position: relative;
}
.textarea {
	width: 100%;
	height: 100%;
	resize: none;
	box-sizing: border-box;
	margin: 0;
	padding: 5px;
}
.input-number {
	margin: 2px;
	width: 50px;
	-moz-appearance: textfield;
}
.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.textarea, .input-number {
	border: 1px solid #303030;
	background: #101010;
	color: #808080;
	transition: color 0.25s ease, border-color 0.25s ease, box-shadow 0.25s ease;
}
.textarea:focus,.input-number:focus {
	color: #dfdfdf;
	border-color: #ffaf00;
	box-shadow: 0 0 3px #ffaf00;
	outline: none;
}
.h3 {
	font-size: 1.17em;
	font-weight: bold;
	color: #ffaf00;
}
.iframe {
	border: none;
}
.button {
	color: #ffffff;
	background: #ff8000;
	box-shadow: 0 0 2px #ff8000;
	transition: background 0.25s ease, box-shadow 0.25s ease;
	border: none;
	font-size: 1.1em;
	padding: 4px 12px;
	cursor: pointer;
}
.button:hover {
	background: #ffaf00;
	box-shadow: 0 0 5px #ffaf00;
}
.resize {
	resize: both;
}
.resize-h {
	resize: horizontal;
	overflow: hidden;
}
.resize-v {
	resize: vertical;
	overflow: hidden;
}
.float-l {
	float: left
}
.float-r {
	float: right;
}
.padding-10 {
	padding: 10px;
}
.padding-20 {
	padding: 20px;
}
.margin-v-10 {
	margin: 10px 0;
}