html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
html {
	height: 100%;
}
body {
	height: auto;
	min-height: 100%;
}
#container {
	text-align: center;
}
#input-a, #input-b {
	width: 500px;
}
#input-a-button, #input-b-button {
	margin: 2px;
	padding: 2px;
}
#results {
	display: inline-block;
	margin: 15px;
	font-family: monospace;
	white-space: pre;
	text-align: right;
	font-size: 20px;
}
span.number {
	color: #bfbfbf;
	cursor: default;
}
span.mantissa {
	color: #ffcf80;
	background: #ffaf0020;
}
.bit-a, .bit-b {
	cursor: pointer;
}